.heading {
    font-size: 1.5rem;
    line-height: var(--logo-height);
    height: var(--logo-height);

}

.wrapper {
    margin: 0;
    padding: 16px 0 0 16px;
    display: flex;
    align-items: flex-start;
}

.logo {
    height: var(--logo-height)
}