.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #152025;
    color: #fff;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}