.key {
    --radius: 2px;
    --font-size: 0.6rem;
    --white-key-width: 50px;
    --white-key-height: 228px;
    --white-key-padding: 410px;
    --black-key-width: 162px;
    --black-key-height: 231px;
    --black-key-padding: 154px;
    /* --white-key-height: calc(var(--white-key-width) * 4,57);
    --white-key-padding: calc(var(--white-key-height) / 1.28);
    --black-key-width: calc(var(--white-key-width) / 1.6);
    --black-key-height: calc(var(--white-key-height) / 1.77);
    --black-key-padding: calc(var(--black-key-height) / 1.5); */
}


.key {
    position:relative;
    font-size: var(--font-size);
    border-radius: 0 0 var(--radius) var(--radius);
    text-transform: uppercase;
    user-select: none;
}

.natural {
    width: var(--white-key-width);
    height: var(--white-key-height);
    padding-top: var(--white-key-padding);
    border: 2px solid rgba(0,0,0,0.1);
    background-color: #fff;;
    color: rgba(0,0,0,0.4);
    margin-right: -1px;
    z-index: 1;
}

.sharp,
.flat {
    width: var(--black-key-width);
    height: var(--black-key-height);
    padding-top: var(--black-key-padding);
    background-color: #111;
    color: white;
    margin: 0 calc(-0.5 * calc(var(--black-key-width)));
    z-index: 2;
}

.natural:active,
.natural.is-pressed {
    background-color: rgba(255, 255, 255, 0.758);
}

.sharp:active,
.sharp.is-pressed,
.flat:active,
.flat.sharp.is-pressed {
    background-color: #555;
}

.key:disabled {
    background-color: none;
    cursor: wait;
}

.natural:disabled {
    color: rgba(0,0,0,0.2);
    background-color: white;
}

.sharp:disabled,
.flat:disabled {
    color: rgba(255,255,255,0.4);
    background-color: #111;
}

@media (min-width: 380px) {
    .key {
        --white-key-width: 25px;
        --white-key-height: 115px;
        --white-key-padding: 89px;
        --black-key-width: 15px;
        --black-key-height: 85px;
        --black-key-padding: 65px;
        --radius: 5px;
        --font-size: 0.8rem;
    }
    .labelKeyboard {
        visibility: hidden;
    }
}

@media (min-width: 540px) {
    .key {
        --white-key-width: 35px;
        --white-key-height: 137px;
        --white-key-padding: 107px;
        --black-key-width: 21px;
        --black-key-height: 77px;
        --black-key-padding: 51px;
        --font-size: 1rem;
    }

    .labelKeyboard {
        visibility: hidden;
    }
}

@media (min-width: 720px) {
    .key {
        --white-key-width: 55px;
        --white-key-height: 225px;
        --white-key-padding: 160px;
        --black-key-width: 35px;
        --black-key-height: 135px;
        --black-key-padding: 77px;
        --font-size: 1.2rem;
    }
    .labelKeyboard {
        visibility: visible;
    }
}

@media (min-width: 960px) {
    .key {
        --white-key-width: 65px;
        --white-key-height: 297px;
        --white-key-padding: 232px;
        --black-key-width: 40px;
        --black-key-height: 167px;
        --black-key-padding: 111px;
        --font-size: 1.5rem;
    }
    .labelKeyboard {
        visibility: visible;
    }
}

@media (min-width: 1120px) {
    .key {
        --white-key-width: 75px;
        --white-key-height: 342px;
        --white-key-padding: 267px;
        --black-key-width: 46px;
        --black-key-height: 193px;
        --black-key-padding: 128px;
        --font-size: 1.8rem;
    }

    .labelKeyboard {
        visibility: visible;
    }
}

.label {
    display: flex;
 flex-direction: column;
 font-size: 1rem; 
}

.label span:nth-child(1) {
    font-weight: 600;
}
.labelKeyboard {
    border: 1px solid gray;
    border-radius: 8px;
    margin: 0 20%;
    padding: 8px;
}